<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.nichetoolkit.rice.mapper.SimpleMapper">
    <resultMap type="io.github.nichetoolkit.rice.simple.SimpleEntity" id="simpleResultMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="time" column="time"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="all_column">
        id, "name", "description", "time", create_time, update_time
    </sql>

    <insert id="save">
        INSERT INTO ${tablename} ( <include refid="all_column"/> )
        VALUES (
        #{entity.id},
        #{entity.name},
        #{entity.description},
        #{entity.time},
        now(),
        now()
        ) ON CONFLICT (id) DO UPDATE
        <set>
            "name" = CASE WHEN EXCLUDED."name" IS NOT NULL THEN EXCLUDED."name" ELSE ${tablename}."name" END,
            "description" = CASE WHEN EXCLUDED."description" IS NOT NULL THEN EXCLUDED."description" ELSE ${tablename}."description" END,
            "time" = CASE WHEN EXCLUDED."time" IS NOT NULL THEN EXCLUDED."time" ELSE ${tablename}."time" END,
            update_time = now()
        </set>
    </insert>

    <update id="saveAll">
        INSERT INTO ${tablename} (
        <include refid="all_column"/>
        )
        VALUES
        <foreach item="entity" index="index" collection="entityList" separator=",">
            (
            #{entity.id},
            #{entity.name},
            #{entity.description},
            #{entity.time},
            now(),
            now()
            )
        </foreach>
        ON CONFLICT (id) DO UPDATE
        <set>
            "name" = CASE WHEN EXCLUDED."name" IS NOT NULL THEN EXCLUDED."name" ELSE ${tablename}."name" END,
            "description" = CASE WHEN EXCLUDED."description" IS NOT NULL THEN EXCLUDED."description" ELSE ${tablename}."description" END,
            "time" = CASE WHEN EXCLUDED."time" IS NOT NULL THEN EXCLUDED."time" ELSE ${tablename}."time" END,
            update_time = now()
        </set>
    </update>

    <delete id="deleteById">
        DELETE FROM ${tablename}
        WHERE id = #{id}
    </delete>

    <delete id="deleteAll">
        DELETE FROM ${tablename}
        WHERE id IN
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="findById" resultMap="simpleResultMap">
        SELECT<include refid="all_column"/>
        FROM ${tablename}
        WHERE id = #{id}
    </select>

    <select id="findAll" resultMap="simpleResultMap">
        SELECT
        <include refid="all_column"/>
        FROM ${tablename}
        WHERE id IN
        <foreach item="id" index="index" collection="idList" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findAllByWhere" resultMap="simpleResultMap">
        SELECT
        <include refid="all_column"/>
        FROM ${tablename}
        WHERE 1=1
        <if test="whereSql!=null">
            ${whereSql}
        </if>
    </select>

    <delete id="deleteAllByWhere">
        DELETE FROM ${tablename}
        WHERE 1=1
        <if test="whereSql!=null">
            ${whereSql}
        </if>
    </delete>

    <select id="findByName" resultMap="simpleResultMap">
        SELECT <include refid="all_column"/>
        FROM ${tablename}
        WHERE name = #{name}
    </select>

    <select id="findByNameAndNotId" resultMap="simpleResultMap">
        SELECT <include refid="all_column"/>
        FROM ${tablename}
        WHERE name = #{name}
        AND id != #{id}
    </select>

</mapper>